<!DOCTYPE html>
<html lang="en">


<%- include("../header.ejs") %>

<head>
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/css/chat.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  </script>
  <script src="/socket.io/socket.io.js"></script>
</head>


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/userdashboard">

        <div class="sidebar-brand-text mx-3">Find A Professional</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/userdashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link" href="/profile">
          <i class="fa fa-user"></i>
          <span>User Profile</span></a>
      </li>
      <hr class="sidebar-divider">
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link active" href="/bookinprogress">
          <i class="fas fa-fw fa-table"></i>
          <span>Booking In Progress</span></a>
      </li>

      <hr class="sidebar-divider">
      <!-- Nav Item - Tables -->
      <li class="nav-item ">
        <a class="nav-link" href="/historybook">
          <i class="fas fa-fw fa-table"></i>
          <span>History Book Professional</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Topbar Navbar -->
          
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <button class="w3-button w3-hover-light-grey"><a href="/logout">Log out</a></button>
          </ul>
        </nav>
        <!-- End of Topbar -->
        <!-- start here! -->

        <section class="msger" style="margin: auto;">
          <header class="msger-header">
            <div class="msger-header-title">
              <i class="fas fa-comment-alt"></i> Chat
            </div>
            <div class="msger-header-options">
              <span><i class="fas fa-cog"></i></span>
            </div>
          </header>

          <main class="msger-chat" id="msger-chat">

          </main>

          <form class="msger-inputarea">
            <input type="hidden" name="booking" value="<%= booking %>">
            <input type="hidden" id="name" class="form-control" readonly placeholder="Name"
              value="<%= user.username %>">
            <input type="hidden" name="user" value="<%= user._id %>">
            <input id="message" type="text" class="msger-input" placeholder="Enter your message...">
            <button id="send" type="submit" class="msger-send-btn">Send</button>
          </form>
        </section>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  </div>
  <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->



  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- Custom scripts -->
  <script>
    $(document).ready(function (){
      var socket = io('http://127.0.01:3000');

      if(socket) {
        socket.on('<%= booking %>', (data) => {
          console.log('ada')
        getLatestMessage()
        })
      }

      $("#send").click((e) => {
        e.preventDefault()

        sendMessage({
          booking: $("input[name=booking]").val(),
        user: $("input[name=user]").val(),
        message: $("#message").val()
        });
      })

      getMessages()
    })
    
    // $(() => {
    //   $("#send").click((e) => {
    //     e.preventDefault()

    //     sendMessage({
    //       booking: $("input[name=booking]").val(),
    //     user: $("input[name=user]").val(),
    //     message: $("#message").val()
    //     });
    //   })
    //   getMessages()
    // })

    function addMessages(message) {
      var masa = new Date(message.createdAt).toLocaleTimeString()
      console.log(masa)
      console.log("new mssg")
      if (message.user && message.user != '') {
        if ($("input[name=user]").val() == message.user._id) {
          html = '<div class="msg right-msg"><div class="msg-img" style="background-image: url(' + message.user.image +
            ')"></div>'
          html += '<div class="msg-bubble"><div class="msg-info"><div class="msg-info-name">' + message.user.username +
            '</div><div class="msg-info-time">' + masa + '</div></div>'
        }
      } else {
        html = '<div class="msg left-msg"><div class="msg-img" style="background-image: url(' + message.pro.image +
          ')"></div>'
        html += '<div class="msg-bubble"><div class="msg-info"><div class="msg-info-name">' + message.pro.username +
          '</div><div class="msg-info-time">' + masa + '</div></div>'
      }
      html += '<div class="msg-text">' + message.message + '</div></div></div>'
      window.scrollTo(0, document.body.scrollHeight);
      $("#msger-chat") + $(".msger-chat").append(html)
    }

    function getMessages() {
      $.get('http://127.0.0.1:3000/messageslist/<%=booking%>', (data) => {
        data.forEach(addMessages);
      })
    }

    function getLatestMessage() {
      $.get('http://127.0.0.1:3000/lastmessage/<%=booking%>', (data) => {
        addMessages(data[0])
      })
    }

    function sendMessage(message) {
      $.post('http://127.0.0.1:3000/messages', message)
      $("#message").val('')
    }
    
    
  </script>

</body> 

</html>