<!DOCTYPE html>
<html lang="en">
<%- include("../header.ejs") %>

<head>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"><!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    
    <style>
        .yellow-color {
        color:rgb(255, 217, 5);
        }
        
       </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/userdashboard">

                <div class="sidebar-brand-text mx-3">Find A Professional</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/userdashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="/profile">
                    <i class="fa fa-user"></i>
                    <span>User Profile</span></a>
            </li>
            <hr class="sidebar-divider">
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/bookinprogress">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Booking In Progress</span></a>
            </li>
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->


            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/historybook">
                    <i class="fas fa-fw fa-table"></i>
                    <span>History Book Professional</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <button class="w3-button w3-hover-light-grey"><a href="/logout">Log out</a></button>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!--Dashboard -->
                <!-- Shop Start -->
                <!-- Shop Detail Start -->
                <div class="container-fluid">
                    <div class="card-deck  ">
                        
                        <img class="card rounded m-auto h-100 w-75"  src="<%= pro.image %>" alt="Image"> 
                        
                        <div class="card p-3">
                            
                            <h5>Professional Name: </h5>
                            <div class="jarakInput d-inline-flex p-2  ">
                                <input type="text" style="text-transform: capitalize; text-align: center;"
                                    value=" <%= pro.username %> " class="form-control form-control-user" readonly>
                            </div>
                            <h5>Professional Category: </h5>
                            <div class="jarakInput d-inline-flex p-2  ">
                                <input type="text" style="text-transform: capitalize; text-align: center;"
                                    value=" <%= pro.categoryname %> " class="form-control form-control-user" readonly>
                            </div>
                            <h5>Professional Career: </h5>
                            <div class="jarakInput d-inline-flex p-2  ">
                                <input type="text" style="text-transform: capitalize; text-align: center;"
                                    value=" <%= pro.career %> " class="form-control form-control-user" readonly>
                            </div>
                            <h5>Professional Career Desciption: </h5>
                            <div class="jarakInput d-inline-flex p-2  ">
                                <input type="text" style="text-transform: capitalize; text-align: center;"
                                    value=" <%= pro.desc %> " class="form-control form-control-user" readonly>
                            </div>

                            <div class="container p-3">
                                <a type="button" class="btn btn-primary btn-user btn-block"
                                    href="/bookuser/<%= pro._id %>">Book This Professional </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Products Start -->
            <div class="container-fluid mt-4">
                <h3 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                        class="pr-3">Review Booked</span></h3>
                <div class="card">
                <div class="row px-xl-5">
                    
                    <div class="col">
                        
                        <div class="owl-carousel related-carousel card-body">
                            
                            <% for(var i = 0; i < book.length; i++) { %>

                            <div class="product-item bg-light">
                                
                                <div class="rounded-circle p-2 align-content-center">
                                    <img class="rounded-circle img-fluid mx-auto d-block" style="width: 75px; height: 75px;"  src="<%= book[i].userid.image %>" alt="">

                                </div>

                                <div class="d-flex align-items-center justify-content-center ">
                                    <% for(var a = 0; a < book[i].rating; a++) { %>
                                    <small class="fa fa-star yellow-color"></small>
                                    <% } %>
                                </div>
                                <div class="text-center p-2">
                                    <span class="h6 font-italic" style="color: black;" href="">"<%= book[i].ratingdesc %>" </span>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h6 class="ml-2 text-black">-<%= book[i].userid.username %></h6>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <% } %>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            </div>
            </div>
            <!-- End of Main Content -->
            
            
            <!-- Products End -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

   

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/usermain.js"></script>

    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>

</body>

</html>